.author-404 {
    margin-top: 140px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__404 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(50% - 41px);
        height: 518px;
        background: url('./assets/img/section_4/404.jpg') center center/cover no-repeat, #fff;
        padding: 20px 45px 52px 45px;
        &-page {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
            font-weight: 400;
            color: #000000;
            i {
                margin-left: 11px;
            }
        }
        &-line {
            width: 440px;
            height: 2px;
            background-color: rgba(#555, .2);
            margin-top: 5px;
        }
        &-descr {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
        }
        &-text {
            width: 130px;
            font-family: 'Playfair Display', serif;
            font-size: 16px;
            font-weight: 900;
            text-align: center;
            color: #a9a9a9;
            margin-top: 13px;
            line-height: 1.2;
        }
        &-sorry {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 34px;
            font-weight: 700;
            color: #000000;
        }
        &-smile {
            font-size: 34px;
            transform: rotate(75deg) translateY(-5px);
            font-family: 'Playfair Display', serif;
            color: #a9a9a9;
            margin-top: 5px;
        }
        &-button {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 12px;
            line-height: 1.1;
            font-weight: 300;
            color: #000000;
            align-self: center;
            padding: 9px 37px;
            border: 1px solid #c2c2c2;
            cursor: pointer;
        }
    }
    &__author {
        width: calc(50% - 41px);
        height: 518px;
        padding: 20px 41px 33px 31px;
        background-color: #ffffff;
        box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
        &-page {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
            font-weight: 400;
            color: #000000;
            i {
                margin-left: 11px;
            }
        }
        &-line {
            width: 440px;
            height: 2px;
            background-color: rgba(#555, .2);
            margin-top: 5px;
            &_small {
                width: 291px;
                margin-top: 18px;
            }
        }
        &-content {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 23px;
        }
        &-photo {
            min-width: 130px;
            min-height: 130px;
            background: url('./assets/img/section_4/author.jpg') center center/cover no-repeat;
        }
        &-descr {
            margin-left: 19px;
        }
        &-name {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 24px;
            font-weight: 700;
            color: #000000;
            margin-top: 15px;
        }
        &-country {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 300;
            color: #000000;
            margin-top: 4px;
        }
        &-socials {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 6px;
            a {
                width: 20px;
                height: 16px;
                &:nth-child(n):not(:last-child) {
                    margin-right: 10px;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-title {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
            font-weight: 400;
            font-style: italic;
            color: #000000;
            margin-top: 25px;
        }
        &-text {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 14px;
            font-weight: 300;
            font-style: italic;
            color: #000000;
            margin-top: 22px;
            line-height: 1.2;
        }   
        &-signature {
            text-align: right;
            margin-top: 12px;
        }
    }
}