@mixin josefin {
    font-family: 'Josefin Sans', sans-serif;
}

@mixin playfair {
    font-family: 'Playfair Display', serif;
}

@mixin openSans {
    font-family: 'Open Sans', sans-serif;
}

@mixin roboto {
    font-family: 'Roboto', sans-serif;
}